name: Compile and release
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Checkout compiler repository
        uses: actions/checkout@v2
        with:
          repository: Nord-RP/nord_compiler
          path: nord-compiler
      - name: Move repository A to resources folder
        run: cp -r . nord-compiler/resources/ && rm -r ./*
      - name: Install dependencies
        run: npm install
        working-directory: nord-compiler
      - name: Run compiler
        run: node index.js
        working-directory: nord-compiler
      - name: Zip compiled folder
        run: zip -r compiled.zip compiled/
        working-directory: nord-compiler
      - name: Create release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ github.ref }}
          release_name: Release v${{ github.ref }}
          body: |
            Changes in this release:
            - compiled version
          draft: false
          prerelease: false
      - name: Upload zip file
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./compiled.zip
          asset_name: compiled.zip
          asset_content_type: application/zip
