name: Compile and Release

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository B
      uses: actions/checkout@v2
      with:
        repository: Nord-RP/nord_compiler
        path: nord-compiler
    
    - name: Copy files to nord-compiler/resources
      run: cp -r !(nord-compiler) nord-compiler/resources
      
    - name: Install dependencies and compile code
      run: |
        cd nord-compiler
        npm install
        node index.js
        
    - name: Archive compiled code
      uses: actions/upload-artifact@v2
      with:
        name: compiled-code
        path: nord-compiler/compiled.zip
    
    - name: Create release
      id: create_release
      uses: actions/create-release@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: v${{ github.run_number }}
        release_name: Release v${{ github.run_number }}
        body: |
          Compiled code for release v${{ github.run_number }}
        draft: false
        prerelease: false
        
    - name: Upload artifact to release
      uses: actions/upload-release-asset@v1.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: nord-compiler/compiled.zip
        asset_name: compiled.zip
        asset_content_type: application/zip
