name: Pobierz repozytorium B i A

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repozytorium A
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
          path: resources
          
      - name: List Files1
        run: ls -R

      - name: Pobierz repozytorium B
        uses: actions/checkout@v2
        with:
          repository: Nord-RP/nord_compiler
          path: nord-compiler

      - name: Zainstaluj moduły Node.js w folderze nord-compiler
        run: cd nord-compiler && npm install
        
      - name: Przenieś pliki zasobów
        run: mv resources nord-compiler/resources && rm nord-compiler/resources/README.md
        
      - name: List Files
        run: ls -R
        
      - name: Wykonaj polecenie node index.js w folderze nord-compiler
        run: cd nord-compiler && node index.js
