name: Release

on:
  push:
    branches:
      - main

jobs:
  build_and_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Copy repo to resources
        uses: actions/upload-artifact@v2
        with:
          name: nord_gamemode
          path: .

      - name: Download repo
        uses: actions/download-artifact@v2
        with:
          name: nord_gamemode
          path: ./nord_compiler/resources/

      - name: Install dependencies
        run: cd ./nord_compiler && npm install

      - name: Build
        run: cd ./nord_compiler && node index.js

      - name: Archive compiled folder
        uses: montudor/action-zip@v1.0.0
        with:
          args: -r compiled.zip ./nord_compiler/compiled

      - name: Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: compiled.zip
          tag_name: v${{ github.ref }}
          body: |
            Release notes go here.
